@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
        padding: 2%;
        font-family: "Noto Sans";
        color: white;
								background-color: rgb(60, 60, 80);
}

a:link{
		      color: white;
}

a:visited{
		      color: white;
}

a:hover{
		      color: white;
}

a:active{
		      color: white;
}